workflows/03-followup-reminder-system.json
{
  "name": "03 - Automated Follow-Up Reminder System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        -16
      ],
      "id": "82cc366d-40f8-4d07-b377-7ea0c205412d",
      "name": "Daily Follow-Up Check"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "185DDUFzD-6XuWsx7rQ9IJkF_nbmkAnng1fPTXGkFc8g",
          "mode": "list",
          "cachedResultName": "Lead Management System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185DDUFzD-6XuWsx7rQ9IJkF_nbmkAnng1fPTXGkFc8g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "CRM_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185DDUFzD-6XuWsx7rQ9IJkF_nbmkAnng1fPTXGkFc8g/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        -16
      ],
      "id": "518334ab-3bb9-4387-bd86-80daa221be58",
      "name": "Get CRM Leads",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Uya7h3adpv2pyFNA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "286284a8-dbcb-4fa8-ab99-ec073e153f98",
              "leftValue": "={{$json[\"Status\"]}}",
              "rightValue": "Closed",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "b5134539-0a0e-43d6-8237-5967fa7f8059",
              "leftValue": "={{\nDateTime.fromFormat(\n  $json[\"Next_Follow_Up\"],\n  \"dd LLLL yyyy\"\n).toMillis() < DateTime.now().setZone('Asia/Karachi').toMillis()\n}}",
              "rightValue": "={{\nDate.now()\n}}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -16
      ],
      "id": "2ebf99f1-ad35-47ae-8ff3-3f5d572e6528",
      "name": "Check Active & Overdue Follow-Up Leads",
      "retryOnFail": true
    },
    {
      "parameters": {
        "sendTo": "sarmadsiyalshorts2@gmail.com",
        "subject": "🚨 Overdue Follow-Up Alert",
        "message": "=<h2 style=\"color:#27ba8e;\">📌 Follow-Up Reminder</h2>\n\n<p>This lead has an overdue follow-up and requires attention.</p>\n\n<hr>\n\n<h3>Lead Details</h3>\n\n<ul>\n  <li><strong>Lead ID:</strong> {{ $('Get CRM Leads').item.json.Lead_ID }}</li>\n  <li><strong>Name:</strong> {{ $('Get CRM Leads').item.json.Name }}</li>\n  <li><strong>Email:</strong> {{ $('Get CRM Leads').item.json.Email }}</li>\n<li><strong>Service:</strong> {{ $('Get CRM Leads').item.json.Service }}</li>\n  <li><strong>Status:</strong> {{ $('Get CRM Leads').item.json.Status }}</li>\n  <li><strong>Follow-Up Date:</strong> {{ $('Get CRM Leads').item.json.Next_Follow_Up }}</li>\n <li><strong>Last Activity::</strong> {{ $('Get CRM Leads').item.json.Last_Activity }}</li>\n</ul>\n\n<hr>\n\n<p style=\"color:#dc2626;\">\n⏰ Please contact this lead as soon as possible.\n</p>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        688,
        -32
      ],
      "id": "4317ef8e-1e4f-4fef-9df0-da6c469caf97",
      "name": "Send a message",
      "webhookId": "8d13a58a-01b0-4195-a43b-ee1d229d6903",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "sb7GWsi3ik3Btqoy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_1570728541696763952"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        -32
      ],
      "id": "1dddc7a1-850f-4b11-abff-eb80b51145ac",
      "name": "Add label to message",
      "webhookId": "dbaa29cb-fdbe-4bdb-aef7-42bd4d9ccde8",
      "credentials": {
        "gmailOAuth2": {
          "id": "sb7GWsi3ik3Btqoy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "team": "90182715821",
        "space": "901811075224",
        "folder": "901814113624",
        "list": "901818175229",
        "name": "=📅 Follow-Up Reminder — {{ $json.Name }}",
        "additionalFields": {
          "content": "=# 🚨 Overdue Follow-Up Alert\n\n## Lead Information\n• Lead ID: {{$json[\"Lead_ID\"]}}\n• Name: {{ $json.Name }}\n• Email: {{ $json.Email }}\n• Phone: {{ $json.Phone }}\n• Service: {{$json[\"Service\"]}}\n\n## Follow-Up Date\n{{$json[\"Next_Follow_Up\"]}}\n\n## Current Status\n{{$json[\"Status\"]}}\n\n## AI Details\n• Lead Quality: {{ $json.Lead_Quality }}\n• Intent: {{ $json.Lead_Intent }}\n\n## Last Activity\nLast Activity: {{$json[\"Last_Activity\"]}}\n\nPlease follow up with this lead today.",
          "notifyAll": true,
          "priority": 1,
          "status": "follow up"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        448,
        -32
      ],
      "id": "fb510288-6c1b-46cc-b8cb-24f5230e951e",
      "name": "Create a task",
      "credentials": {
        "clickUpApi": {
          "id": "s3ZMW1NwD27xPOn7",
          "name": "ClickUp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Follow-Up Check": {
      "main": [
        [
          {
            "node": "Get CRM Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CRM Leads": {
      "main": [
        [
          {
            "node": "Check Active & Overdue Follow-Up Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Active & Overdue Follow-Up Leads": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d1b2c2aa-3dfd-40a2-8573-c910f94dd5e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4afab8f9e286217cf61120568c8c214f2eecb2afad454e4186dea3fbb88841f8"
  },
  "id": "pOk7WxH32j9p0xI9",
  "tags": []
}